services:
  frontend:
    image: 511913187986.dkr.ecr.ap-south-1.amazonaws.com/isssue-tracker-app-frontend:1.0  
    container_name: frontend
    ports:
      - "3000:80"

  backend:
    image: 511913187986.dkr.ecr.ap-south-1.amazonaws.com/isssue-tracker-app-backend:1.0  
    container_name: backend
    environment:
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=issues
      - DB_HOST=db
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16
    container_name: pg_database
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=issues
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  db_data:
